@import "~node_modules/modern-normalize/modern-normalize.css";


.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  padding-top: 100px;
}

.info {
  display: flex;
  justify-content: center;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-top: none;
  border-radius: 5px;
}

img {
  display: block;
  margin: auto;
  height: 200px;
}
.info-item b {
  display: block;
  font-size: 13px;
  text-align: center;
}

.info-item b span {
  font-weight: normal;
  text-align: center;
  margin-top: 5px;
}
