.search-form {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background: radial-gradient(circle, #00ff1e 0%, #fbf807 100%);
  position: fixed;
  z-index: 1;
  width: 100%;
}

button.load-more {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 150px;
  padding: 10px;
  background: radial-gradient(circle, #00ff1e 0%, #fbf807 100%);
  color: rgb(59, 32, 213);
  font-size: 17px;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

form .input-search {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 300px;
  border-radius: 10px;
  outline-width: 0.5px;
  outline-color: #0bc521;
}
.form-container {
  position: relative;
}

form .btn-search {
  position: absolute;
  width: 50px;
  padding: 10px;
  font-size: 17px;
  border: none;
  transform: scale(0.8);
  border-radius: 5px;
  right: 4px;
  background: white;
  cursor: pointer;
}

button.load-more:hover {
  background: radial-gradient(circle, #00ffd5 0%, #fbc607 100%);
  transition: transform 0.4s;
  transform: scale(1.1);
}

form .btn-search:hover {
  transition: transform 0.4s;
  transform: scale(0.9);
}

form ::after {
  content: "";
  clear: both;
  display: table;
}

.photo-card {
  background: radial-gradient(circle, #00ff1e 0%, #fbf807 100%);
  border-radius: 10px;
}

.photo-card:hover {
  transition: transform 0.4s;
  transform: scale(1.02);
}

.picture {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.btn-search .svg-icon {
  width: 26px;
  height: 18px;
}
.btn-search .svg-icon:hover {
  fill: #0bc521;
}
